{# app/templates/about.html #}

{% extends 'base.html' %}

{% block title %}Détail Livre {{ title }}{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <p class="lead">Sur BookShop, achetez et vendez vos livres neufs ou d'occasion !</p>
    <div class="row">

      <div class="col-lg-3">

          {% for product in details %}
        <h1 class="my-4">{{ product['name'] }}</h1>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="card mt-4">
        <div class="card-body">
          {% if product['image'] %}
          <img class="card-img-top" src="/static/uploads/{{ product['image'] }}" alt="">
          {% else %}
          <img class="card-img-top" src="http://placehold.it/900x400" alt="">
          {% endif %}
            <h3 class="card-title">{{ product['name'] }}</h3>
            <h4>{{ product['price'] }} €</h4>
            <p class="card-text">{{ product['description'] }}</p>
            <small class="text-muted">Vendeur : {{ product['username']}}</small>
            <br />
          </div>
                    {% if g.user['id'] != product['author_id'] %}
                    <form action="{{ url_for('cart.addCart', id=product['id']) }}" method="post">
                      <input class="btn btn-success mb-2" type="submit" value="Ajouter au panier" onclick="return confirm('Ajouter ce produit au panier ?');">
                    </form>
                    {% endif %}
        </div>
        <!-- /.card -->

          {% if not loop.last %}
          {% endif %}
          {% endfor %}

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Commentaires
          </div>
          <div class="card-body">
            {% for product in comments %}
            <p>{{ product['comment'] }}</p>
            <small class="text-muted">Ajouté par {{ product['username'] }}</small>
            <hr>
            {% if not loop.last %}
            {% endif %}
            {% endfor %}
            <a href="#" class="btn btn-success">Laisser un commentaire</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


{% endblock %}