{# app/templates/about.html #}

{% extends 'base.html' %}

{% block title %}BookShop : Mes commandes{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <p class="lead">Sur BookShop, achetez et vendez vos livres neufs ou d'occasion !</p>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">MES COMMANDES</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                {% if command %}
                {% for order in command %}
                <h2>Commande N° {{ order['id'] }} du {{ order['created'].strftime('%d-%m-%Y %H:%M:%S') }}</h2>
                  {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produit</th>
                            <th scope="col">Disponibilité</th>
                            <th scope="col" class="text-center">Quantité</th>
                            <th scope="col" class="text-right">Prix</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% endif %}
                    {% for order in command %}
                        <tr>
                            <td>
                              {% if order['image'] %}
                              <img class="card-img-panier" src="/static/uploads/{{ order['image'] }}" alt="">
                              {% else %}
                              <img class="card-img-panier" src="http://placehold.it/700x400" alt="">
                              {% endif %}
                            </td>
                            <td>{{ order['name'] }}</td>
                            <td>En stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            <td class="text-right">{{ order['price'] }} €</td>
                            <td class="text-right">
                            </td>
                        </tr>
                  {% if not loop.last %}
                  {% endif %}
                  {% endfor %}

                  {% if command %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sous-Total</td>
                            <td class="text-right">{{totalPrice}} €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Frais de port</td>
                            <td class="text-right">6,9 €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{totalPrice + 6.90 | round }} €</strong></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if command %}
        {% else %}
        <p>Vous n'avez pas de commande en cours</p>
        {% endif %}
    </div>
</div>

  </div>
  <!-- /.container -->


{% endblock %}