{% extends 'base.html' %}

{% block title %}Administration{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Zone Admin</h1>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
          <br />
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../admin/category">Catégories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../admin/product">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Commentaires</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Suivi des commandes</a>
          </li>
      </ul>
        <h3 class="mt-3">Gestion des commandes</h3>

          <div class="col">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Date</th>
                  <th scope="col">Client</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for admin in orders %}
                <tr>
                  <th scope="row">{{ admin['id'] }}</th>
                  <td>{{ admin['name'] }}</td>
                  <td>{{ admin['price'] }}</td>
                  <td>{{ admin['created'] }}</td>
                  <td>{{ admin['username'] }}</td>
                  <td>
                    <button class="btn btn-block btn-success">Valider la commande</button>
                  </td>
                </tr>
              {% if not loop.last %}
              {% endif %}
              {% endfor %}
              </tbody>
            </table>

          </div>

      </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

{% endblock %}