{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Modifier un utilisateur{% endblock %}</h1>
{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Modifier un utilisateur</h1>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

  <div class="card-body">
      <form method="post" enctype="multipart/form-data">
          <div class="col">
          <div class="col-sm-6">
          <div class="form-group">
            <label for="username">Login</label>
              <input name="username" id="username" value="{{ request.form['username'] or user['username'] }}" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="admin">Admin (1 if Admin, else 0)</label>
              <input name="admin" id="admin" value="{{ request.form['admin'] or user['admin'] }}" class="form-control" required>
          </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
          </div>
      </form>
  </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

{% endblock %}